@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
    margin: 0;
    padding: 0;
    border: none;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 290px;
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.05);
}

#image {
    max-width: 290px;
    border-radius: 12px;
}

#main-text {
    color: hsl(218, 44%, 22%);
    padding: 0 10px;
    text-align: center;
    font-size: 22px;
    margin: 1em 0px 10px 0px;
}

#secondary-text {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    text-align: center;
    padding: 0 14px;
    margin: 0 0 20px 0;
}