@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
    margin: 0;
    padding: 0;
    border: none;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 290px;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 20px;
}

#image {
    max-width: 290px;
    border-radius: 15px;
}